# LaTeX temporary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.glsdefs
*.ist
*.xdy
*.figlist
*.makefile
*.fls
*.figlist
*.makefile
*.auxlock

# BibTeX
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.figlist
*.makefile
*.fls
*.fdb_latexmk
*.dpth
*.md5
*.auxlock

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*

# Beamer
*.nav
*.pre
*.snm
*.vrb
*.out
*.toc
*.snm
*.vrb
*.fls
*.log
*.fdb_latexmk

# Glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# Gnuplot
*.gnuplot
*.table

# Hyperref
*.out

# Knitr
*-concordance.tex

# Listings
*.lol

# Makeidx
*.idx
*.ilg
*.ind

# Minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# Minted
_minted*
*.pyg

# Morewrites
*.mw

# Nomencl
*.nlg
*.nlo
*.nls

# Pax
*.pax

# Pdfpcnotes
*.pdfpc

# Sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# Scrwfile
*.wrt

# Sympy
*.upa
*.upb

# TikZ & PGF
*.auxlock
*.figlist
*.makefile
*.fls
*.fdb_latexmk
*.dpth
*.md5
*.auxlock

# Todonotes
*.tdo

# Xindy
*.xdy

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib

# PDF output (comment out if you want to include PDFs)
*.pdf

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor backup files
*~
*.swp
*.swo
*#
.#*